{% block sidebar %}


<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text">  Hello  &#128075; !! <br>Welcome to my blog.<br>Here, I'm sharing what ever I learn.<br><center><b><i>"Learner at &#x2764;"</i></b></center>
         </p>   
    </div>
    <hr>
    <div class="card-body">
        <p class="card-text">  “Learn as though you would never be able to master it; hold it as though you would be in fear of losing it.” </p>
            <b><i><p align="right"> – Confucius</p></i></b>
    </div>
</div>
</div>

{% endblock sidebar %}